*{
	padding: 0;
	margin: 0;
	margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0; 
}
body{
	background-size: cover;
	box-sizing: border-box;
	font-family: serif,sans-serif;
}
p{
	color: #036c9e;
	line-height: 22px;
	padding: 10px;
}
h3{
	color: #036c9e;
	font-weight: bold;
}
h4{
	color: #036c9e;
	font-weight: bold;
}
a{
	text-decoration: none;
	color: black;
}
img{
	width: 100%;
	height: 300px;
}
.header{
	padding:  30px 60px 100px 100px;
}
.logo{
	float: right;
	overflow: hidden;
	position: relative;
	right: 200px;
	justify-content: space-between;
	cursor: pointer;
	padding: 20px;
}
.fa-instagram{

}
.fa-twitter-square{
color: #00aced;
background-color: white;
}
.fa-linkedin-square{
color: #0097d3;
background-color: white;
}
.fa-user{
 color: orange;
 background-color:#ebebeb;
}
.fa-facebook-official{
	color:#3b5caa;
	background-color:white;
}
.fa-youtube-square{
	color:white;
	background-color:red;
}
.menu_bar{
	text-align: center;
	background: white;
	display: inline-flex;
	box-sizing: border-box;
	border-radius: 100px;
	box-shadow: 0px 0px 5px 2px #ccc;
	margin-left: 56px;
	position: absolute;
	top: 184px;
}
.menu_bar ul{
	display: inline-flex;
	list-style: none;
	color: blue;
}
.menu_bar ul li{
	width: 100%;
	margin: 15px;
	padding: 15px;
}
.menu_bar ul li a {
	text-decoration: none;
	color: #036c9e;
	font-size: 14px;
	font-weight: bold;
}
.main{
	background-color:#005580;
	overflow: hidden;
	padding-top: 90px;
}
#slider{
	width: 1000px;
	height: 300px;
	margin: 20px auto;
	position: relative;
	border:10px solid white;
	box-shadow: 0px 0px 5px 2px #ccc;
	border-radius: 10px;
}
button{
	padding: 20px;
	border: none;
	background: transparent;
	font-size: 50px;
	color: white;
	position: absolute;
	top: 34%;
	cursor: pointer;
}
.next{
	border-radius: 10px 0px 0px 10px;
	margin-left: 940px;
}
.prew{
	border-radius: 0px 10px 10px 0px;
}
.tag4{
	background-color: white;
	height: 30px;
	width: 500px;
	padding: 0px;
	position: relative;
	top: 0px;
	border-radius: 0px;
	box-shadow: 0px 0px 5px 5px whitesmoke;
}
.box-box3{
	background-color: white;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	padding: 100px;
	height: 350px;
} 
.box5{
	background-color: white;
	width: 150%;
	height: 250px;
	margin-right: 6%;
	border:10px solid #ffffff;
	box-shadow: 0px 0px 5px 2px white;
	border-radius: 5px;
	position: relative;
	top:-70px;
	right: 20px;
}
.box6{
	background-color: white;
	width: 150%;
	height: 400px;
	position: relative;
	top:-70px;
	border:10px solid #ffffff;
	box-shadow: 0px 0px 5px 2px white;
	border-radius: 10px;
}
.box6-1{
	width: 30%;
	height: 200px;
	background-color: white;
	position: relative;
	top: -378px;
	left: 200px;
}
.box6-2{
	width: 30%;
	height: 200px;
	background-color: white;
	position: relative;
	top: -578px;
	left: 380px;
}
.material-symbols-outlined{
	content: New;
	color: red;
}
iframe{
 overflow: hidden;
 position: relative;
 float: left;
 left: 50px;
 top: 0px;
 height: 200px;
}
.menu_bar2{
	text-align: center;
	background: white;
}
.menu_bar2 ul{
	display: inline-flex;
	list-style: none;
	color: blue;
}
.menu_bar2 ul li{
	width: 100%;
	margin: 15px;
	padding: 15px;
}
.menu_bar2 ul li a{
	text-decoration: none;
	color: #036c9e;
	font-size: 14px;
}
.academic-container{
	background-color: #005580;
	height: 1600px;
}
.academic-container1{
	background-color: white;
	width: 980px;
    height: 1500px;
	padding: 15px;
	display: flex;
	position: relative;
	left: 120px;
	top: 5px;
	border:10px solid white;
	box-shadow: 0px 0px 5px 2px #ccc;
	border-radius: 10px;
}
.academic-tag{
	background-color: white;
	height: 20px;
	padding-bottom: 5px;
	border:5px solid white;
	box-shadow: 0px 0px 2px 2px #ccc;
	border-radius: 5px;
}
.academic-c1{
	background-color: white;
	width: 30%;
	margin-right: 2%;
}
.academic-c2{
	background-color:white;
	width: 70%;	
	padding-right: 5%;
}
h4{
	padding-top: 5px;
	padding-left: 5px;
}
a{
	color: black;
	padding-top: 5px;
	padding-left: 5px;
}
.sac{
	background-color: whitesmoke;
	height: 20px;
	padding-top: 5px;
	border:5px solid white;
	box-shadow: 0px 0px 2px 2px #ccc;
	border-radius: 5px;
}
